<?xml version="1.0"?>
<configuration>
     <configSections>
          <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
               <section name="WeavverLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
          </sectionGroup>
     </configSections>
     <connectionStrings>
          <add name="WeavverEntityContainer" connectionString="metadata=res://*/Data.WeavverEntityContainer.csdl|res://*/Data.WeavverEntityContainer.ssdl|res://*/Data.WeavverEntityContainer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=weavverstaging;Persist Security Info=True;User ID=;Password=;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
          <add name="WorkflowContainer" connectionString="metadata=res://*/Workflows.WorkflowData.csdl|res://*/Workflows.WorkflowData.ssdl|res://*/Workflows.WorkflowData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=weavverstaging_workflows;persist security info=True;user id=;password=;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
     </connectionStrings>
     <system.serviceModel>
          <bindings/>
          <client/>
     </system.serviceModel>
     <startup>
          <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.1"/>
     </startup>
     <appSettings>
          <add key="smtp_server" value="127.0.0.1"/>
     </appSettings>
</configuration>